EXPO_PUBLIC_API_URL=

# Google OAuth
EXPO_PUBLIC_EXPO_PROJECT_FULL_NAME=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=

# Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_LISTINGS_BUCKET=

# Goong API
EXPO_PUBLIC_GOONG_API_KEY=
EXPO_PUBLIC_GOONG_REST_KEY=
EXPO_PUBLIC_ENDPOINT_GOONG_REST=

# BACKEND 

# Development
MONGO_URI=
PORT=5000

# JWT Secret để mã hóa token
JWT_SECRET=

# Admin panel & Github OAuth
ADMIN_WEB_ORIGIN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ADMIN_ALLOWED_EMAILS=

# AZURE 
AZURE_CUSTOM_VISION_KEY=
AZURE_CUSTOM_VISION_ENDPOINT=
AZURE_PROJECT_ID=
AZURE_ITERATION_NAME=

# Gemini API
EXPO_PUBLIC_GEMINI_API_KEY=

# Momo Payment
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_REDIRECT_URL=
MOMO_IPN_URL=